


<div class="row">
  <div class="col-sm-6">
    <h1>Sections</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_section_path, class: 'btn btn-primary' do %>
    Add New Section
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @sections.each do |section| %>
        <%= content_tag :tr, id: dom_id(section), class: dom_class(section) do %>
          
            <td><%= link_to section.name, section %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
